.heroBackGroundImageKeyboard
{
    background-image: url("images/hero-background_keyboard.jpg");
    background-color: #cccccc;
    background-position: center; 
    /* background-repeat: no-repeat;  */
    background-size: cover; 
    height: fit-content;
    width: auto;
}

.downloadText
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    margin-top: 4vh;
    text-align: center;
    margin-bottom: 4vh;
}

.downloadTextBottom
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin-top: 5vh;
    text-align: center;
    padding-bottom: 5vh;
}

.safeTextBottom
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    margin-top: 5vh;
    text-align: center;
}

.marginIcons
{
    margin-right: 10vw;
    margin-left: 10vw;
}

.downloadsIconText
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
}




@media only screen and (max-width : 1023.98px) {
    

    .blockMobDownloadIcons
    {
        display: block;
        text-align: center;
    }

    .alignOnMOBcenter
    {
        text-align: center;
    }

    .marginDecreaseMob
    {
        margin-top: 24px;
    }

    .marginDecMob
    {
        margin: 16px;
        margin-bottom: 48px;
    }
}
