/* Global Margins */
.marginTop32
{
    margin-top: 32px;
}

.marginTop48
{
    margin-top: 48px;
}

.margin32
{
    margin: 32px;
}

.greenColor
{
    background-color: green;
}

.someLength
{
    min-height: 50px;
}

.fullVPHeight
{
    height: 100vh;
}

.heroBackGroundImageKeyboard
{
    background-image: url("images/hero-background_keyboard.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}




/* top nav */
.logoText
{
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding-left: 32px;
    color: rgba(0, 0, 0, 0.5)
}


.otherTopNavText
{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
}


.homeTopNavPadding
{
    margin-left: 25vw;
}

.marginLeft32TopNav
{
    margin-left: 32px;
}

.myNavBarHeight
{
    min-height: 128px;
    padding-top: 10px;
}


/* center hero page */
.jarvisBigCenter
{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-shadow: 0px 1px 8px #006AFA ;
}

.marginTopJarvis
{
    margin-top: 10vh;
}

.lineAtCenterHero
{
    width: 50vw;
    height: 12px;
    border: 1px solid blue;
    background-color: #006AFA;
    border-radius: 24px;
}

.jarvisMainTagLine
{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 0px 1px 8px #006AFA ;
    margin-top: 20px;
}

.downloadButtonMainPage
{
    border: 2px solid black;
    background-color: white;
    border-radius: 24px;

    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:black;

    box-shadow: 0px 0px 2px white;

    margin-top: 36px;
    padding: 16px;
}

/* blue box main page */

.mainPageBlueBox
{
    margin-top: 64px;
    width: 75vw;
    height: fit-content;
    border: 1px solid black;
    background-color: #006AFA;
    border-radius: 16px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.upperTextBlueBox
{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;
}

.aboutBlueBox
{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.whyBlueBox
{
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    margin-right: 32px;
}

.lineBlueBox
{
    border: 1px solid white;
    background-color: white;
    border-radius: 24px;
    width: 4px;
    min-height: 192px;
    margin-left: 24px;
}

.upperTextBlueBoxMob
{
    display: none;
}


.aboutBlueBoxMob
{
    display: none;
}

.whyBlueBoxMob
{
    display: none;
}

.horizontalLineMob
{
    display: none;
}

/* black box */

.blackBoxMainPage
{
    margin-top: 64px;
    background-color: #1B1D1F;

    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;

    padding-left: 32px;
    padding-top: 32px;

    margin-bottom: 32px;
}

.robo32R
{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.howToUseButtonMainPage
{
    border: 2px solid black;
    background-color: white;
    border-radius: 24px;

    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:black;

    margin: 32px 0px 32px 0px;
    padding: 16px;
}

/* icons bottom */

.iconsBottomText
{
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #1B1D1F;
    text-align: center;
}

/* black line */

.blackLine
{
    height: 8px;
    width: 80vw;
    margin: 32px auto 32px auto;
    border: 1px solid black;
    background-color: #1B1D1F;
    border-radius: 24px;
}

/* checkout box last */

.checkoutBoxLast
{
    border: 1px solid black;
    background-color: #1B1D1F;
    border-radius: 4px;
    
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.checkoutBoxLastText
{
    text-decoration: none;
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}


@media only screen and (max-width : 1200px) {
    
    /* top nav */
    .homeTopNavPadding
    {
        margin-left: 18vh;
    }
    .marginLeft32TopNav
    {
        margin-left: 32px;
    }

    .jarvisMainTagLine
    {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width : 1024px) {
    
    /* top nav */
    .homeTopNavPadding
    {
        margin-left: 10px;
    }

    .marginLeft32TopNav
    {
        margin-left: 10px;
    }

    .jarvisMainTagLine
    {
        font-size: 1.25rem;
    }

    .downloadButtonMainPage
    {
        font-size: 1.5rem;
    }

    .upperTextBlueBox
    {
        display: none;
    }

    .aboutBlueBox
    {
        display: none;
    }

    .whyBlueBox
    {
        display: none;
    }

    .lineBlueBox
    {
        display: none;
    }

    .upperTextBlueBoxMob
    {
        display: block;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        margin: 32px 32px 0px 32px;
    }

    .aboutBlueBoxMob
    {
        display: block;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: white;
        margin: 24px 32px 0px 32px;
    }

    .whyBlueBoxMob
    {
        display: block;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: white;
        margin: 24px 32px 0px 32px;
    }

    .horizontalLineMob
    {
        display: block;
        height: 4px;
        background-color: white;
        width: 50vw;
        margin: 64px 32px;
    }

    
}

@media only screen and (max-width : 512px) {
    
    /* top nav */
    .homeTopNavPadding
    {
        margin-left: 10px;
    }
    .marginLeft32TopNav
    {
        margin-left: 10px;
    }
    .jarvisMainTagLine
    {
        font-size: 1.0rem;
    }

    .iconsBottom
    {
    max-width: 80vw;
    height: auto;
    }   
}